<app-bread-crumb *ngIf="director">
</app-bread-crumb>

<!-- director  -->
<div id="about" class="about">
    <div class="container py-3">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12">
                <div class="about-box">
                    <h2 style="color: #Caa555;">Profile <strong class="yellow">of the <span class="text-underline"> Director</span></strong></h2>
                    <p class="text-justify"> Mr Chinofunga is a holder on an MSc Degree in Information Systems from National University of Science and Technology in Zimbabwe, BSc (Honours) Information Systems from Midlands State University in Zimbabwe and currently is at the
                        final stages of a Doctor of Philosophy Information Systems with Binary University in Malaysia. He has attended trainings and has been issued with certificates in Oracle Business Intelligence Entreprice Edition (OBIEE) 10g and 11g,
                        Internal Controls Management, CCNA, Linux Administration, Big Data Analytics etc. Mr Chinofunga was born on the 10th of February 1983 in Harare as the eldest son in a family of five. Before joining Chinhoyi University of Technology
                        he was the Senior Software Developer at Realfin Global and a Systems Analyst with Technical Systems. In 2011 he joined Chinhoyi University of Technology as an Analyst Programmer , in 2012 he got promoted to Database Manager in
                        charge of software development. In 2016 he was redeployed to serve the University as a Technical Services Manager in charge of ICT Hardware and Network Infrastructure. In 2019 he was promoted to the position of ICT Deputy
                        Director and in 2020 he was appointed Executive ICT Director.
                    </p>

                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center align-items-center">
                <div class="about-box">
                    <figure><img src="assets/images/dir profile.jpg" alt="#" /></figure>
                </div>
            </div>
        </div>

    </div>
</div>
<app-bread-crumb *ngIf="director">
</app-bread-crumb>

<!-- director  -->
<div id="about" class="about">
    <div class="container py-3">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center align-items-center">
                <div class="about-box">
                    <figure><img src="assets/images/sec.png" alt="#" /></figure>

                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12">
       
                <div class="about-box">
                    
                    <h3 style="color: #Caa555;"><strong>PA Executive</strong> <strong class="yellow"><span class="text-underline"> Secretary</span></strong></h3>
                    <p class="text-justify"> 
                        Mrs. Chirindo serves as the Executive ICT Director's personal assistant. She oversees the daily administrative activities for the ICT Department. She holds a bachelor's and a master's degree in human resources management.
                        
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>