<app-bread-crumb></app-bread-crumb>
<!-- director  -->
<div id="about" class="about bg-white">
    <div class="container py-3">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                <div class="about-box">
                    <h2>Client <strong class="yellow"> Services Section</strong></h2>
                    <p class="text-justify"> The Client Services Section is the operating arm of CUT ’s ICT department, designed to keep the university operations to run smoothly. The section handles everything from individual, departmental ict related problems to total
                        system outages, providing a single point of contact (SPOC) for the cut system users community to seamlessly and efficient interaction with the CUT’s ICT Department..
                    </p>
                    <h3>
                        Services Offered:
                    </h3>

                    <ul class="my-list">
                        <li>
                            Creating solutions to ict related problems
                        </li>
                        <li>
                            Keep task records
                        </li>
                        <li>
                            Identify client's needs
                        </li>
                        <li>
                            Provide ICT support
                        </li>
                        <li>
                            Communicate with customers and Provide customer follow-up services
                        </li>
                        <li>

                            Support ICT system users
                        </li>
                        <li>
                            Keep up to date on product knowledge to Guarantee maximum customer satisfaction
                        </li>
                    </ul>



                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 ">
                <app-service-status>

                </app-service-status>
            </div>
        </div>

        <hr>
    </div>
</div>
<div class="about bg-white">

    <div class="container my-4">

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-10 col-sm-12 mb-4 pb-4s">
                <div class="about-box">
                    <h2>Section <strong class="yellow">Staff</strong></h2>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">

                <div class="our-team">

                    <div class="team-pic">
                        <img src="assets/images/chikondowa.png">
                    </div>

                    <div class="team-profile">

                        <h3 class="team-title">
                            <a href="#">T. Chikondowa</a>
                            <small>Client Services Manager</small>
                        </h3>

                        <p class="description">
                            Msc Data Analytics CUT,BSc Information Systems(MSU), Adv Diploma Information Technology(CUT), IT Governance & Cyber Security, Pastel Evolution Accounting, Belina HR and Payroll certificates

                        </p>

                        <ul class="team-social">

                            <li>
                                <a href="#" class="fa fa-facebook"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-twitter"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-google-plus"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-instagram"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">

                <div class="our-team">

                    <div class="team-pic">
                        <img src="assets/images/operations/murambiwa.png">
                    </div>

                    <div class="team-profile">

                        <h3 class="team-title">
                            <a href="#">C. Murambiwa</a>
                            <small>Technician</small>
                        </h3>

                        <p class="description"></p>

                        <ul class="team-social">

                            <li>
                                <a href="#" class="fa fa-facebook"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-twitter"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-google-plus"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-instagram"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">

                <div class="our-team">

                    <div class="team-pic">
                        <img src="assets/images/operations/mf.png">
                    </div>

                    <div class="team-profile">

                        <h3 class="team-title">
                            <a href="#">P. Mafuso</a>
                            <small>Technician</small>
                        </h3>

                        <p class="description"></p>

                        <ul class="team-social">

                            <li>
                                <a href="#" class="fa fa-facebook"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-twitter"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-google-plus"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-instagram"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
     
            <div class="col-md-4 col-sm-6 mt-4">

                <div class="our-team">

                    <div class="team-pic">
                        <img src="assets/images/operations/mawire.png">
                    </div>

                    <div class="team-profile">

                        <h3 class="team-title">
                            <a href="#">H. Mawire</a>
                            <small>Technician</small>
                        </h3>

                        <p class="description"></p>

                        <ul class="team-social">

                            <li>
                                <a href="#" class="fa fa-facebook"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-twitter"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-google-plus"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-instagram"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mt-4">

                <div class="our-team">

                    <div class="team-pic">
                        <img src="assets/images/technical/rimz.png">
                    </div>

                    <div class="team-profile">

                        <h3 class="team-title">
                            <a href="#">Mr Rimz</a>
                            <small>Technician</small>
                        </h3>

                        <p class="description"></p>

                        <ul class="team-social">

                            <li>
                                <a href="#" class="fa fa-facebook"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-twitter"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-google-plus"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-instagram"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mt-4">

                <div class="our-team">

                   
                    <div class="team-pic">
                        <img src="assets/images/technical/mandishona.png">
                    </div>

                    <div class="team-profile">
                        <h3 class="team-title">
                            <a href="#">Mr Mandishona</a>
                            <small>Technician</small>
                        </h3>

                        <p class="description"></p>

                        <ul class="team-social">

                            <li>
                                <a href="#" class="fa fa-facebook"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-twitter"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-google-plus"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-instagram"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mt-4">

                <div class="our-team">

                   
                    <div class="team-pic">
                        <img src="assets/images/technical/kanez.png">
                    </div>

                    <div class="team-profile">
                    
                        <h3 class="team-title">
                            <a href="#">Mr Kanengoni</a>
                            <small>Technician</small>
                        </h3>

                      
                        <ul class="team-social">

                            <li>
                                <a href="#" class="fa fa-facebook"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-twitter"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-google-plus"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-instagram"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mt-4">

                <div class="our-team">

                   
                    <div class="team-pic">
                        <img src="assets/images/technical/ruka.png">
                    </div>

                    <div class="team-profile">
                    
                        <h3 class="team-title">
                            <a href="#">Mr Ruka </a>
                            <small>Technician</small>
                        </h3>
                        <p class="description">
                            Bcom Information Systems (GZU)
                        </p>


                        <ul class="team-social">

                            <li>
                                <a href="#" class="fa fa-facebook"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-twitter"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-google-plus"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-instagram"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mt-4">

                <div class="our-team">

                   
                    <div class="team-pic">
                        <img src="assets/images/technical/muchenjekwa.png">
                    </div>

                    <div class="team-profile">
                    
                        <h3 class="team-title">
                            <a href="#">Mr Muchenjekwa </a>
                            <small>Technician</small>
                        </h3>
                        <p class="description">
                            Advanced Diploma in Computing & Information Technology
                         </p>
                       

                        <ul class="team-social">

                            <li>
                                <a href="#" class="fa fa-facebook"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-twitter"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-google-plus"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-instagram"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mt-4">

                <div class="our-team">

                   
                    <div class="team-pic">
                        <img src="assets/images/technical/mbele.jpg">
                    </div>

                    <div class="team-profile">
                    
                        <h3 class="team-title">
                            <a href="#">Mr Mbele </a>
                            <small>Technician</small>
                        </h3>
                        
                        <p class="description">
                            Advanced Diploma in Computing & Information Technology
                         </p>


                        <ul class="team-social">

                            <li>
                                <a href="#" class="fa fa-facebook"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-twitter"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-google-plus"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-instagram"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mt-4">

                <div class="our-team">

                   
                    <div class="team-pic">
                        <img src="assets/images/technical/Mabasa.png">
                    </div>

                    <div class="team-profile">
                    
                        <h3 class="team-title">
                            <a href="#">Mr Mabasa </a>
                            <small>Technician</small>
                        </h3>
                        
                        <p class="description">
                           
                         </p>


                        <ul class="team-social">

                            <li>
                                <a href="#" class="fa fa-facebook"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-twitter"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-google-plus"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-instagram"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</div>
