<footer>
    <div class="footer ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                    <div class="row pt-4">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 ">
                            <div class="address">
                                <h3>Contact us </h3>
                                <ul class="loca">
                                    <li>
                                        <a href="#"><img src="assets/icon/loc.png" alt="#" /></a>
                                        Chinhoyi University of Technology
                                        <br> Private Bag 7724
                                        <br>Chinhoyi
                                        <br> Zimbabwe<br>
                                    </li>
                                    <li ondragstart="return false" onselectstart="return false" >
                                        <a href="mailto:icthelpdesk@cut.ac.zw" ><img src="assets/icon/email.png" alt="#" /> icthelpdesk@cut.ac.zw</a>
                                    </li>
                                    <li ondragstart="return false" onselectstart="return false" >
                                        <a href="#"><img src="assets/icon/call.png" alt="#" /></a>+263 6721 22203-5
                                    </li>
                                </ul>
                              

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="address">
                                <h3>ICT Portals</h3>
                                <ul class="Menu_footer">
                                    <li class="active"> <a href="https://www.cut.ac.zw/portal/index.php/portal/login" target="_blank">Students Portal</a> </li>
                                    <li><a href="https://www.cut.ac.zw/portal/index.php/portal/login" target="_blank">Staff Portal</a> </li>
                                    <li>
                                        <a href="https://bigbluebutton.cut.ac.zw/">Video Conferencing</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="address">
                                <h3>Quick Links</h3>
                                <ul class="Links_footer">
                                    <li class="active"><a routerLink="/downloads">ICT Downloads</a> </li>
                                    <li><a routerLink="/faqs">Frequently Asked Questions</a> </li>
                                    <li><a routerLink="/services">ICT Services</a> </li>
                                    <li><a href="https://www.cut.ac.zw/welcome/admissions"> Admission</a> </li>
    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="copyright">
            <div class="container">
                <a target="_blank" href="https://www.cut.ac.zw/ict/home"><span>Copyright &copy; 2024 Chinhoyi University of Technology.
                    Made with <i class="fa-solid fa-heart fa-beat text-danger"></i>  by ICT Developers </span></a>
            </div>
        </div>
    </div>
</footer>
