<header>
    <!-- header inner -->
    <div class="header-top">
        <div class="header">
            <div class="container-fluid">
                <div class="row  h-100">
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-3 col logo_section h-100">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo ">
                                    <a routerLink="">
                                        <img src="assets/images/lg.png" alt="#" />

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-8 col-md-8 col-sm-9">
                        <div class="header_information">
                            <div class="menu-area">
                                <div class="limit-box">
                                    <nav class="main-menu ">
                                        <ul class="menu-area-main">
                                            <li [routerLinkActive] ="'active'"><a routerLink="/home">Home</a></li>
                                        
                                            <li [routerLinkActive] ="'active'"> <a routerLink="/services">ICT Services</a> </li>
                                            <li [routerLinkActive] ="'active'"> <a routerLink="/staff">Staff</a> </li>
                                            <li [routerLinkActive] ="'active'"> <a routerLink="/downloads">Downloads</a> </li>
                                            <li [routerLinkActive] ="'active'"> <a routerLink="/about">About Us</a> </li>
                                            <li [routerLinkActive] ="'active'"> <a routerLink="/faqs">ICT FAQs</a> </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                          <!-- <div class="mean-last">

                          </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header inner -->

        <!-- end header -->

    </div>
</header>