<section>
    <div class="container bg-light">
        <div class="row">
            <div class="col-sm-12 col-md-12 p-4">
                <h3>
                    CUT Help Desk
                </h3>
                <hr>
                <address>
                  <li>
                    <a class="text-primary" href="https://www.cut.ac.zw/portal/index.php/portal/login">
                     <i class="fa fa-mouse-pointer    "></i>
                      Self-Service-Portal
                    </a>
                  </li>
                  <li ondragstart="return false" onselectstart="return false">
                    <a class="text-primary" href="mailto:helpdesk@cut.ac.zw">
                      <i class="far fa-envelope"></i>
                      helpdesk@cut.ac.zw
                    </a>
                  </li>
                  <li ondragstart="return false" onselectstart="return false">
                    <a class="text-primary" href="tel:+263672122203">
                     <i class="fas fa-phone    "></i>
                      +263672122203
                    </a>
                  </li>
                  <li>
                    <a class="text-primary" href="tel:+263672122203">
                     <i class="fas fa-file-excel    "></i>
                      Regional Technicians
                    </a>
                  </li>
                </address>

                <h3>
                    <ul class="list-group">
                        <li class="list-group-item d-flex small justify-content-between align-items-center rounded-0">
                            Networking
                            <span class="badge badge-success badge-pill ">active</span>
                        </li>
                        <li class="list-group-item d-flex small my-2 justify-content-between align-items-center rounded-0">
                            Business Systems
                            <span class="badge badge-success badge-pill">active</span>
                        </li>
                        <li class="list-group-item d-flex small justify-content-between align-items-center rounded-0">
                            Emails
                            <span class="badge badge-success badge-pill">active</span>
                        </li>
                        <li class="list-group-item d-flex small my-2 justify-content-between align-items-center rounded-0">
                            Education
                            <span class="badge badge-success badge-pill">active</span>
                        </li>
                    </ul>
                </h3>
            </div>


        </div>
    </div>
</section>
