<section class="slider_section">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">

                <div class="container-fluid padding_dd">
                    <div class="carousel-caption">
                        <div class="row">
                            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                                <div class="images_box">
                                    <figure><img style="height: 400px;" src="assets/images/dept.png"></figure>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                                <div class="text-bg">
                                    <h1 style="color: #CAA555;font-family: 'Raleway-Black', sans-serif; text-shadow: 2px 4px 4px rgb(179, 151, 92);
                               
                                    font-weight: 900;">TOP NOTCH SERVICES FROM TRAINED PROFESSIONALS </h1>
                                    <p style="font-size:larger;text-align: left;font-size: 18px; text-shadow: 2px 4px 4px rgba(122, 139, 172, 0.6);">
                                        Facilitating effective administration, teaching, learning, research, innovation for industrialization of the country
                                    </p>
                                    <!-- <a  routerLink="/services">Services</a> -->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">

                <div class="container-fluid padding_dd">
                    <div class="carousel-caption">
                        <div class="row">
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                                <div class="text-bg">
                                    <h1 style="color: #CAA555;  text-shadow: 2px 4px 4px rgba(179, 151, 92);">MORDEN SOLUTIONS FOR MORDEN PROBLEMS</h1>
                                    <!-- <p>
                                        Providing a modern, integrated, resilient and secure technological environment, which sustains and strengthens the University
                                    </p> -->
                                    <!-- <a routerLink="/services">Services</a> -->
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                                <div class="images_box">
                                    <figure><img src="assets/images/labb.JPG" style="max-height: fit-content;"></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">

                <div class="container-fluid padding_dd">
                    <div class="carousel-caption">
                        <div class="row">
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                                <div class="text-bg">
                                    <h1 style="color: #CAA555;  text-shadow: 2px 4px 4px rgba(179, 151, 92);">Technology for Innovators</h1>
                                  
                                    <!-- <a routerLink="/about">About Us</a> -->
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                                <div class="images_box">
                                    <figure><img src="assets/images/stem.JPG" style="max-height: fit-content;"></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





        </div>
    </div>

    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>


</section>
