<app-bread-crumb></app-bread-crumb>
<app-director></app-director>


<section class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 d-flex flex-column justify-content-between">
                <div class="our-team">
                    <div class="pic">
                        <div class="layer-1">
                            <div class="layer-2">
                                <div class="layer-3">
                                    <img src="assets/images/maguvu.jpeg" alt="">
                                    <div class="social">
                                        <ul class="social-icon">
                                            <li>
                                                <a href="#" class="fa fa-facebook"></a>
                                            </li>
                                            <li>
                                                <a href="#" class="fa fa-google-plus"></a>
                                            </li>
                                            <li>
                                                <a href="#" class="fa fa-twitter"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="team-info ">
                            <h3 class="title mb-0 pb-0">E. S. Maguvu</h3>
                            <span class="post">Software Development Manager</span>
                        </div>
                    </div>
                </div>
                <p class="description ">
                    Bsc Information Systems(MSU),Linux Administration (UZ), Java SE 8 I, Cyber-security Essential Certification

                </p>
                <button class="btn btn-block btn-primary hover rounded-0 shadow mt-4" routerLink="software">
                        View Section
                      </button>

            </div>
            <div class="col-md-4 col-sm-6 d-flex flex-column justify-content-between">
                <div class="our-team">
                    <div class="pic">
                        <div class="layer-1">
                            <div class="layer-2">
                                <div class="layer-3">
                                    <img src="assets/images/chikondowa.png" alt="">
                                    <div class="social">
                                        <ul class="social-icon">
                                            <li>
                                                <a href="#" class="fa fa-facebook"></a>
                                            </li>
                                            <li>
                                                <a href="#" class="fa fa-google-plus"></a>
                                            </li>
                                            <li>
                                                <a href="#" class="fa fa-twitter"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="team-info">
                            <h3 class="title">T. Chikondowa</h3>
                            <span class="post">Client Services Manager</span>
                        </div>
                    </div>
                </div>
                <p class="description">
                    Msc Data Analytics CUT,BSc Information Systems(MSU), Adv Diploma Information Technology(CUT), IT Governance & Cyber Security, Pastel Evolution Accounting, Belina HR and Payroll certificates
                </p>
                <button class="btn btn-block btn-primary hover rounded-0 shadow" routerLink="operations">
                View Section
              </button>
            </div>
            <div class="col-md-4 col-sm-6 d-flex flex-column justify-content-between">
                <div class="our-team">
                    <div class="pic">
                        <div class="layer-1">
                            <div class="layer-2">
                                <div class="layer-3">
                                    <img src="assets/images/muchovo.png" style="max-height: 25rem; max-width: 20rem;" alt="">
                                    <div class="social">
                                        <ul class="social-icon">
                                            <li>
                                                <a href="#" class="fa fa-facebook"></a>
                                            </li>
                                            <li>
                                                <a href="#" class="fa fa-google-plus"></a>
                                            </li>
                                            <li>
                                                <a href="#" class="fa fa-twitter"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="team-info">
                            <h3 class="title">R. Muchovo</h3>
                            <span class="post">Technical Support Manager</span>
                        </div>
                    </div>

                </div>
                <p class="description">
                    MScDA(CUT), BSc Telecommunications (MSU), Advanced Diploma In Telecommunications, CCNA, Sophos X G Administrator, Father
                </p>
                <button class="btn btn-block btn-primary hover rounded-0 shadow" routerLink="technical">
              View Section
            </button>
            </div>

        </div>
    </div>
</section>
