/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/

/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/
@media only screen and (min-width: 280px) and (max-width: 599px) {
   
 
    /*--------------------------------------------------------------------- File Name: meanmenu.css ---------------------------------------------------------------------*/
    .mean-container .mean-bar {
        background: #24b0ed;
        float: left;
        min-height: 40px;
        padding: 5px 0;
        position:fixed !important;
        width: 100%;
        z-index: 999;
        margin-top: 15px;
    }
    .carousel-indicators li {
        width: 8px !important;
        height: 8px !important;
        border-radius: 10px;
        background: #585757;
        margin: 5px 0px;
    }


    .slder-btn{
        font-size: 11px !important; 
    }

 a.meanmenu-reveal {
    display: none;
}

.mean-container a.meanmenu-reveal {
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 22px;
    line-height: 22px;
    position: absolute;
       right: 24px;
    text-decoration: none;
    top: 12px;
    width: 26px;
}
.mean-container a.meanmenu-reveal span {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 0;
    display: block;
    height: 4px;
    margin-top: 3px;
    width: auto;
}
.mean-container a.meanmenu-reveal span:first-child {
    margin: 0 
}
.mean-container .mean-nav {
    background: #ffffff none repeat scroll 0 0;
    float: left;
    margin-top: 0px;
    width: 100%;
}
.mean-container .mean-nav ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
}
.mean-container .mean-nav ul li {
    position: relative;
    float: left;
    width: 100%;
}
.mean-container .mean-nav ul li a {
    border-bottom: 1px solid #ccc;
    color: #383838;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    padding: 1em 5%;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    width: 90%;
}
.mean-container .mean-nav ul li a:hover {
    color: #24b0ed;
}
.mean-container .mean-nav ul li li a {
    width: 80%;
    padding: 1em 10%;
    border-top: 1px solid #ccc;
    border-top: 1px solid #ccc;
    opacity: 1;
    filter: alpha(opacity=1);
    text-shadow: none !important;
    visibility: visible;
}
.mean-container .mean-nav ul li.mean-last a {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 0;
}
.mean-container .mean-nav ul li li li a {
    width: 70%;
    padding: 1em 15%;
}
.mean-container .mean-nav ul li li li li a {
    width: 60%;
    padding: 1em 20%;
}
.mean-container .mean-nav ul li li li li li a {
    width: 50%;
    padding: 1em 25%;
}
.mean-container .mean-nav ul li a:hover {
    background: #24b0ed;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}
.mean-container .mean-nav ul li a.mean-expand {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    border: medium none;
    font-weight: 400;
    height: 22px;
    line-height: 22px;
    margin-top: 1px;
    padding: 12px 16px;
    position: absolute;
    right: 0;
    text-align: center;
    top: -1px;
    width: 17px;
    z-index: 2;
    font-size: 18px !important;
}
.mean-container .mean-nav ul li a.mean-expand:hover {
    background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
    color: #ffffff;
}
.mean-container .mean-push {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    clear: both;
}
.mean-nav .wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
}
.mean-container .mean-bar, .mean-container .mean-bar * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.mean-remove {
    display: none !important;
}
.mean-nav span {
    display: none;
}
.mean-container .mean-nav ul li a.mean-expand:hover, .mean-container .mean-nav ul li a.mean-expand:focus {
    background: #24b0ed ;
    color: #ffffff;
}

.mean-container .mean-nav ul li a:hover {
   color: #24b0ed !important;
}
 
    
    .box_bg_img .box_my figure {
        margin: 0;
        position: relative;
    }
     .cart-content-right {
         padding-bottom: 5px;
    }
     .megamenu>.row [class*="col-"] {
         padding: 0px;
    }
     .menu-area-main .megamenu .men-cat {
         padding: 0px 15px;
    }
     .menu-area-main .megamenu .women-cat {
         padding: 0px 15px;
    }
     .menu-area-main .megamenu .el-cat {
         padding: 0px 15px;
    }
     .mean-container .mean-nav ul li a {
         padding: 1em 4%;
         width: 92%;
    }
      .mean-container .mean-nav ul li a:hover {color: #24b0ed !important;}
     .mean-container .mean-nav ul li li a {
         width: 90%;
         padding: 1em 5%;
    }
     .mean-container .sub-full.megamenu-categories ol li a {
         padding: 5px 0px;
         text-transform: capitalize;
         width: 100%;
    }
     .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
         width: auto;
         border: none;
         float: none;
    }
     .menu-area-main {
         height: 290px;
         overflow-y: auto;
    }
     .mean-container .mean-nav ul li a.mean-expand {
         top: 0;
    }
    h1 {
        font-size: 10px  !important
    }
    
    h2 {
        font-size: 13px !important
    }
    
    h3 {
        font-size: 18px
    }
    
    h4 {
        font-size: 16px
    }
    
    h5 {
        font-size: 14px
    }
    
    h6 {
        font-size: 13px
    }
    
   
    p{
        font-size: 10px  !important;
    }

}



/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/
 
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .mean-container .mean-bar {
        background: #24b0ed;
        float: left;
        min-height: 40px;
        padding: 5px 0;
        position:fixed !important;
        width: 100%;
        z-index: 999;
        margin-top: 15px;
    }
    
    .mean-container .mean-bar {
        background: #24b0ed !important;
      
    }
     .main-menu ul>li a {
         padding: 20px 20px 20px;
    }
     .header-search {
         padding: 15px 0px;
    }
}
/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/
 @media only screen and (min-width: 599px) and (max-width: 767px) {

    .mean-container .mean-bar {
        background: #24b0ed !important;
      
    }
     .logo {
         text-align: center;
    }
     .cart-content-right {
         padding-bottom: 5px;
    }
     .mg {
         margin: 0px 0px;
    }
     .menu-area-main {
         height: 256px;
         overflow-y: auto;
    }
     .megamenu>.row [class*="col-"] {
         padding: 0px;
    }
     .menu-area-main .megamenu .men-cat {
         padding: 0px 15px;
    }
     .menu-area-main .megamenu .women-cat {
         padding: 0px 15px;
    }
     .menu-area-main .megamenu .el-cat {
         padding: 0px 15px;
    }
     .mean-container .mean-nav ul li a.mean-expand {
         height: 19px;
    }
     .category-box.women-box {
         display: none;
    }
     .cart-box {
         display: inline-block;
         margin: 0px 30px;
    }
     .wish-box {
         float: none;
         margin: 0px 30px;
         display: inline-block;
    }
     .menu-add {
         display: none;
    }
     .category-box {
         display: none;
    }
     .mean-container .mean-nav ul li ol {
         padding: 0px;
    }
     .mean-container .mean-nav ul li a {
         padding: 10px 20px;
         width: 94.8%;
    }
      .mean-container .mean-nav ul li a:hover {
         color: #24b0ed !important;
    }
     .mean-container .mean-nav ul li li a {
         width: 92%;
         padding: 1em 4%;
    }
     .mean-container .mean-nav ul li li li a {
         width: 100%;
    }
     .header-search {
         padding: 15px 0px;
    }
     #collapseFilter.d-md-block {
         padding: 30px 0px;
    }
}


 @media (min-width: 1200px) and (max-width: 1500px) {

    .mean-container .mean-bar {
        background: #24b0ed !important;
      
    }
     .banner-main .carousel-caption {
         background: transparent;
    }
    .logo {
   padding-bottom: 6px;
     margin-top: 0px;
}
    .text-bg h1{
        font-size: 66px;
    }
   
    .main-menu ul > li a {padding: 11px 11px; font-size: 13px;}
    .mean-last {margin-right: 43px !important;}
    .mean-last a {
    padding: 0px 10px;     font-size: 13px;

}
}
 @media (min-width: 992px) and (max-width: 1199px) {
      .mean-last {display: none !important;}
      .logo {
   padding-bottom: 6px;
    
}
.mean-container .mean-bar {
    background: #24b0ed;
    float: left;
    min-height: 40px;
    padding: 5px 0;
    position:fixed !important;
    width: 100%;
    z-index: 999;
    margin-top: 15px;
}

    .main-menu ul > li a {
        padding: 11px 5px; font-size: 13px;
    }
     
     .text-bg h1 {
        
         font-size: 43px;
         line-height: 54px;
         padding-bottom: 10px;
    }
     .text-bg span {
        padding-bottom: 13px;
    }
     .submit {
        padding: 17px 0px;
         max-width: 231px;
    }
    .box_bg {
        padding: 10px 30px 30px 15px;
    }
    .text-bg a {max-width: 150px;}
}
 @media (min-width: 768px) and (max-width: 991px) {

    .logo {
   padding-bottom: 6px;
    
}
.mean-container .mean-bar {
    background: #24b0ed !important;
  
}
     .mean-last {display: none !important;}
    
     .main-menu ul>li a {
             padding: 8px 2px;
         font-size: 11px;
    }
     .full-slider_cont h1 {
         font-size: 40px;
         line-height: 50px;
    }
    .menu-area {padding-right: 40px;}
     .header_information::before {display: none;}
     ul.social_link {padding-bottom: 0px;}
     .text-bg h1 {
         padding-top: 0px;
         font-size: 38px;
        line-height: 48px;
         padding-bottom: 18px;
    }
 .mean-last {width: 20px;}
     .text-bg {padding-left: 0px;}
     .box_bg {
        padding: 10px 30px 30px 15px;
    }
     .b_bold {
         font-size: 53px;
    }
    .titlepage h2 {
        line-height: 45px;
        font-size: 40px;
    }
    .about .about-box h2 {
        line-height: 45px;
        font-size: 40px;
    }
     .text-bg p {
        font-size: 14px;
        line-height: 22px;
        padding-bottom: 25px;
    }
     .text-bg a {
       margin-right: 5px;
padding: 10px 7px;
font-size: 13px;
max-width: 122px;
    }
     
    .important_bg .important_box h3 {
        font-size: 39px;
        line-height: 41px;
    }
    .important_bg .important_box span {
        font-size: 27px;
       line-height: 25px;
    }
     .submit {
        padding: 17px 0px;
         max-width: 170px;
    }
     .address {
         margin-bottom: 30px;
    }
    .copyright {
        margin-top: 25px;
    }
}

 @media (max-width: 767px) {

   
    .mean-container .mean-bar {
        background: #24b0ed;
        float: left;
        min-height: 40px;
        padding: 5px 0;
        position:fixed !important;
        width: 100%;
        z-index: 999;
        margin-top: 15px;
    }
    .mean-container .mean-bar {
        background: #24b0ed !important;
      
    }
     .slider_section {
        padding-top: 105px;
    }

.menu-area {float: inherit; padding-right: 15px;}
.mean-container .mean-nav {left: 0;}
.header_information::before {display: none;}
.header_information {background: transparent;}
.header_information::after {display: none;}




}


 @media (min-width: 576px) and (max-width: 767px) {
    .logo {
 
    margin-top: 0px;

}
.carousel-indicators li {
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background: #585757;
    margin: 5px 0px;
}

.mean-container .mean-bar {
    background: #24b0ed;
    float: left;
    min-height: 40px;
    padding: 5px 0;
    position:fixed !important;
    width: 100%;
    z-index: 999;
    margin-top: 15px;
}

   .header {background: #efefef; padding: 20px 0px 20px 0px;}
     .mean-last {display: none !important;}
     .text-bg h1 {padding-top: 0px;}
     .text-img {
        padding-top: 30px;
    }
     ul.top_icon li a {
        padding: 0px 13px;
    }
    .images_box {margin-top: 30px;}
     .padding_left0 {
        padding-left: 15px;
    }
    .important_bg .important_box h3 {
        font-size: 30px;
        line-height: 35px;
    }
    .important_bg .important_box span {
        font-size: 18px;
        line-height: 25px;
    }
      .about .about-box figure {margin-top: 20px;}
     .make_img {margin-top: 30px;}
     .submit {
        padding: 17px 0px;
         max-width: 154px;
    }
     .address {
        padding-bottom: 20px;
    }
     .copyright {
        margin-top: 25px;
    }
}
 @media (max-width: 575px) {
   html,body {
    max-width: 100%;
    overflow-x:hidden !important;
    
   }
   .carousel-indicators li {
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background: #585757;
    margin: 5px 0px;
}


   .slider-btn{
    font-size: 7px !important; 
    width: 70px;
    margin-top: 30px !important;
    padding: 3px !important;
    margin-left: 10% !important;
    text-align: center;
    color: #fff !important;

}
.slider-bttn{
    font-size: 7px !important; 
    width: 70px;
    margin-top: 30px !important;
    padding: 3px !important;
    margin-left: 10% !important;
    text-align: center;
    color: #fff !important;
}

   [class*="col-"] {
    width: 100% !important;
  }
   a {
    color: #383838 !important;
   }
   .wrapp {
    max-width: 100%;
    overflow-x:hidden !important;
   }
   /* .box_my {
    max-width: 70%;
    max-height: 70%;
   } */

   .images_box figure img {
    width: 100%;
  
    }
   p {
    font-size: 10px !important;
    line-height: normal !important;
   }
   .mean-container .mean-bar {
    background: #24b0ed;
    float: left;
    min-height: 40px;
    padding: 5px 0;
    position:fixed !important;
    width: 100%;
    z-index: 999;
    margin-top: 15px;
}
 
     .header {
         padding-bottom: 0px;
         background: #efefef;
    }
     .logo {
 
    margin-top: 0px;

        }
    .header_information {width: 100%;
    position: fixed !important;}
     .logo {
         text-align: center !important;
         width: 150px;
       margin: 0 auto;
       padding-bottom: 20px;         
       float: inherit;
       
    }

     .menu-area-main li.active a {
        background: inherit;
    }
    .mean-last {display: none !important;}
    .mean-container .mean-bar {margin-top: 15px;}
    .menu-area {padding-right: 0px}
     .text-bg h1 {
         padding-top: 80px;
         font-size: 31px;
         line-height: 45px;
         padding-bottom: 18px;
    }
    .text-bg p {
        font-size: 20px !important;
        line-height: 20px;
        padding-bottom: 30px;
    }
    .text-bg a {
        margin-right: 3px;
        max-width: 102px;
        font-size: 13px;
    }
    .images_box {margin-top: 30px;}
    .important_bg {padding-top: 30px;}
    .important_bg .important_box h3 {
        font-size: 20px;
line-height: 25px;
    }
    .important_bg .important_box span {
        font-size: 17px;
line-height: 20px;
    }   
     .important_bg .important_box {margin-top: 30px;}
     .make_img {margin-top: 20px;}
    .box_bg {padding-left: 15px;}
     .slider_section {
        padding-top: 95px;
    }
    .about .about-box h2 {
        line-height: 36px;
        font-size: 27px;
    }
    .about .about-box figure {margin-top: 20px;}

     .titlepage h2 {
        line-height: 36px;
        font-size: 27px;
    }
     .padding_left0 {
        padding-left: 15px;
    }
     
     .contact .contact_bg {
        padding: 40px 20px;
    }
     .submit {
        font-size: 15px;
         padding: 14px 0px;
         max-width: 134px;
    }
     .news .newslatter {
        padding: 15px 10px;
         width: 54%;
         font-size: 15px;
    }
     .address {
       
        padding-bottom: 20px;
    }
    ul.social_link {padding-bottom: 0px;}
     .copyright {
        margin-top: 25px;
    }
}


