<app-bread-crumb>
</app-bread-crumb>
<!-- about  -->
<div id="about" class="about">
    <div class="container py-3">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12">
                <div class="about-box">
                    <h2  style="color: #Caa555;">About <strong class="yellow">CUT ICT</strong></h2>
                    <p class="text-justify"> The Chinhoyi University of Technology Information and Communication Technology (ICT) is a central Computing Centre for computing technology operations, a strategic partner to many areas of the university mandated to develop and maintain
                        policies and technological systems that support teaching and learning. Born out of Innovation and results, the ICT Department is currently equipped with both physical and human resources to provide high quality information services
                        and systems across the University. The department provides customer centered technologically innovative computing and telecommunication facilities to enable and transformative teaching, research, extension, consultancy and administrative
                        activities for all (administrative, support and academic) units in the University. The department is empowered to exploit ICT to its full potential thereby assisting the University in elevating its position to a center of academic
                        excellence and to support the realization of the strategic objectives of the University. </p>
                    <!-- <a routerLink="director">Read more</a> -->
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center align-items-center">
                <div class="about-box">
                    <figure style="width: 600px; padding-left: 120px;padding-top: 20px;"><img style="height: auto;width: auto;" src="assets/images/dp.png" alt="#" /></figure>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="about py-4">
    <div class=" my-3 px-0  ">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center align-items-center px-0">
                <div class="about-box px-0">
                    <figure><img src="assets/images/5g1.png" alt="#" style="max-height: 44rem;" /></figure>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 py-4 bg-white ">
                <div class="about-box">
                    <h2 class="text-center"  style="color: #Caa555;">Our <strong class="yellow">Vision</strong></h2>
                    <p class="text-center px-2">
                        To deliver dynamic, digitally vigilant, and value driven ICT services powering creativity and innovation in the university 
                    </p>

                </div>
                <div class="about-box">
                    <h2 class="text-center"  style="color: #Caa555;">Our <strong class="yellow">Mission</strong></h2>
                    <p class="text-center px-2">
                        To provide a modern, integrated, resilient, quality, secure and sustainable technological environment that ensures innovative, efficient teaching, learning, research and administration process. 
            
                    </p>

                </div>
                <div class="about-box">
                    <h2 class="text-center"  style="color: #Caa555;">Core <strong class="yellow">Values</strong></h2>
                    <p class="d-flex justify-content-center px-2">
                        <span class="badge badge-primary badge-pill font-weight-bold px-4 py-2">
                         Integrity
                        </span>
                        <span class="badge badge-success badge-pill font-weight-bold px-4 py-2 mx-2">
                            Customer Focus
                        </span>
                        <span class="badge badge-warning badge-pill font-weight-bold px-4 py-2 mx-2">
                            Confidentiality
                        </span>
                        <span class="badge badge-info badge-pill font-weight-bold px-4 py-2 mx-2">
                            Excellence
                        </span>
                        <span class="badge badge-success badge-pill font-weight-bold px-4 py-2">
                            Innovativeness
                        </span>
                        <span class="badge badge-danger badge-pill font-weight-bold px-4 py-2">
                            Team Work
                        </span>
                    </p>

                </div>
            </div>

        </div>

    </div>
</div>
<!-- end abouts -->
<section class="about">

    <div class="container">
        <div class="about-box">
            <h2 class="text-center"> <strong class="yellow">Strategic ICT priorities for the University</strong></h2>
            <p class="text-center px-2">
                The broad vision and purpose of the ICTC positions itself to provide excellence in information services and seamless support
            </p>

        </div>
        <section class="dl-blurbs mx-auto">
            <dl>
                <dt>user demand</dt>
                <dd style="text-align: justify;">
                    Address user demand for sophisticated, high quality, ubiquitous and reliable ICT provision whilst recognizing economic constraints
                </dd>
                <dt>culture</dt>
                <dd>
                    Promote a culture of customer focus in all CUT ICTC structures
                </dd>
                <dt>Solutions</dt>
                <dd style="text-align: justify;">
                    Identify a long term, sustainable and accessible solution that addresses increasing demands for storage , integration and interoperability of CUT ICTC systems.
                </dd>
                <dt>Network</dt>
                <dd style="text-align: justify;">
                    Enable capacity to meet increasing network bandwidth demands and reduce single points of failure that would threaten the availability of network connectivity
                </dd>
            </dl>
            <dl>
                <dt>Efficiency</dt>
                <dd style="text-align: justify;">
                    Create additional business efficiencies, whilst improving service quality through centralisation of core ICTC provision, reducing duplication and the complexity of multiple systems and services where these exist at local level
                </dd>

                <dt>Security</dt>
                <dd style="text-align: justify;">
                    Improve information security provision i.e. the confidentiality, integrity and availability (CIA) of ICT systems and the information processed by those systems – reducing the likelihood of data breaches and or the loss of confidential or personal data
                </dd>
                <dt>Costs</dt>
                <dd style="text-align: justify;">
                    Significantly reduce the ICT carbon footprint in the face of rising energy costs by adopting green technologies
                </dd>
            </dl>
        </section>

    </div>
</section>
