<app-bread-crumb></app-bread-crumb>
<!-- director  -->
<div id="about" class="about bg-white">
    <div class="container py-3">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12">
                <div class="about-box">
                    <h2>Technical <strong class="yellow">Section</strong></h2>
                    <p class="text-justify">
                        The mandate of the Technical Services Section is to establish new or enhanced ICT infrastructure required to support the strategic goals of Chinhoyi University of Technology. The section is also mandated to look at cybersecurity issues to protect the
                        university’s integrated management information system.
                    </p>
                    <h3>

                        The main functions of the Technical Services Section include the following:
                    </h3>




                    <ol class="kp">
                        <li>
                            Establishment and maintenance of network and data communications infrastructure platforms to facilitate teaching, learning, community engagement, innovation and industrialization.

                        </li>
                        <li>
                            Establishment and maintenance of data center infrastructure technologies.

                        </li>
                        <li>
                            Establishment and maintenance of network and infrastructure security solutions.

                        </li>
                        <li>
                            Establishment of disaster recovery and business continuity measures on networks and ICT infrastructure.

                        </li>
                    </ol>



                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center align-items-center">
                <div class="about-box">
                    <figure><img src="assets/images/muchovo.png" alt="#" /></figure>
                </div>
            </div>
        </div>

        <hr>
    </div>
</div>
<div class="about bg-white">

    <div class="container my-4">

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-10 col-sm-12 mb-4 pb-4s">
                <div class="about-box">
                    <h2>Section <strong class="yellow">Staff</strong></h2>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">

                <div class="our-team">

                    <div class="team-pic">
                        <img src="assets/images/chabvutagondo.png">
                    </div>

                    <div class="team-profile">

                        <h3 class="team-title">
                            <a href="#">T. Chabvutagondo</a>
                            <small>A/ Cyber Security Administrator</small>
                        </h3>

                        <p class="description">
                        Msc In Big Data Analytics, PGD Computer Science, CEH, CCNA, SOPHOS Certified Administrator
                        </p>

                        <ul class="team-social">

                            <li>
                                <a href="#" class="fa fa-facebook"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-twitter"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-google-plus"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-instagram"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">

                <div class="our-team">

                    <div class="team-pic">
                        <img src="assets/images/technical/makaza.png">
                    </div>

                    <div class="team-profile">

                        <h3 class="team-title">
                            <a href="#">H. Makaza</a>
                            <small>Network Administrator</small>
                        </h3>

                        <p class="description"></p>

                        <ul class="team-social">

                            <li>
                                <a href="#" class="fa fa-facebook"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-twitter"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-google-plus"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-instagram"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">

                <div class="our-team">

                    <div class="team-pic">
                        <img src="assets/images/technical/nhauro.png">
                    </div>

                    <div class="team-profile">

                        <h3 class="team-title">
                            <a href="#">P. Nhauro</a>
                            <small>Network Technician</small>
                        </h3>

                        <p class="description"></p>

                        <ul class="team-social">

                            <li>
                                <a href="#" class="fa fa-facebook"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-twitter"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-google-plus"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-instagram"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
