<app-bread-crumb>
</app-bread-crumb>

<div id="about" class="about">
    <div class="container py-3">
        <div class="row">

            <div class="about-box mx-auto">
                <h2 class="text-center" style="color: #Caa555;">ICT <strong class="yellow">Services</strong></h2>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="row">


        <div class="container py-4 col-sm-12 col-md-8 col-lg-8 ">


            <article class="episode">
                <div class="episode__number">00</div>
                <div class="episode__content">
                    <div class="title py-4">Accounts and Authentication</div>
                    <div class="story py-4">
                        <p style="text-align: justify;">
                            CUT ICTC ensures that only authorized access to Institutional Information and ICT resources begins with proper account and authentication management.

                      

                            ICTC Account and Authentication Management Services as guided by the ICT Policy (Information Security Policy), defines the pre-requisites regardingnew user onboarding, account access, including but not limited to: developing and changing passphrases (passwords),
                            multifactor authentication and maintaining and deleting accounts to minimize cyber risks.
                        </p>
                    </div>
                </div>
            </article>

            <article class="episode">
                <div class="episode__number">01</div>
                <div class="episode__content">
                    <div class="title py-4">Administrative Systems</div>
                    <div class="story py-4">
                        <p style="text-align: justify;">Software Application packages (Platforms) that are used by the University for day to day running of operations (Online Filing and Recording), these Systems include the Admissions andAcademic Records System, Financial packages,
                            Human Resources Management Systems, Online Databases for Research and Institutional repositories.
                        </p>
                    </div>
                </div>
            </article>

            <article class="episode">
                <div class="episode__number">02</div>
                <div class="episode__content">
                    <div class="title py-4">Teaching & Learning</div>
                    <div class="story py-4">
                        <p>
                            This quality service is offered in collaboration with the Academy of Teaching and Learning. The ICTC provisions projectors and interactive screens for teaching and learning.

                        </p>
                        <p style="text-align: justify;">

                            In addition the Centre provides a Hardware and Software Infrastructure for Virtual Learning (Digital Learning) by integrating Moodle with the Academic Registry data for excellence in providing Education 5.0 service.
                        </p>

                    </div>
                </div>
            </article>

            <article class="episode">
                <div class="episode__number">03</div>
                <div class="episode__content">
                    <div class="title  py-4">Chat, Video & Collaboration</div>
                    <div class="story  py-4">
                        <p style="text-align: justify;">"Contemporary administration, learning and teaching requires synchronous collaboration through online and virtual platforms. The ICTC works on video conferencing tools (cameras, headsets, earphones) and solutions (eg BigBlueButton,
                            Jitsi, Skype, Google meet etc.) designed to make it easier to work remotely/virtually with others to get things done.
                        </p>
                    </div>
                </div>
            </article>
            <article class="episode">
                <div class="episode__number">04</div>
                <div class="episode__content">
                    <div class="title  py-4">Computers & Software</div>
                    <div class="story  py-4">
                        <p style="text-align: justify;">The ICTC facilitates sustainable procurement and disposal of Computers and Software, Hardware replacement and replacement, software licensing on behalf of the university community.
                        </p>
                    </div>
                </div>
            </article>
            <article class="episode">
                <div class="episode__number">05</div>
                <div class="episode__content">
                    <div class="title  py-4">Email & Calendars</div>
                    <div class="story  py-4">
                        <p style="text-align: justify;">
                            21st century working enables setting up of online calendars and important notification configuration, this promotes a culture of working together as stakeholders through email, online scheduling and ubiquitous access to your calendar of events. Through
                            cloud hosted emails stakeholders are able to do online co-editing of documents
                        </p>
                    </div>
                </div>
            </article>
            <article class="episode">
                <div class="episode__number">06</div>
                <div class="episode__content">
                    <div class="title  py-4">Cyber Security</div>
                    <div class="story  py-4">
                        <p style="text-align: justify;">
                            Critical mission University data (infrastructure and software) needs protection from manipulation and unauthorized access.

                            The Cyber Security Desk strategizes for Business Continuity and Disaster recovery through following procedures of backup as guided by the Backup and Business Continuity Policy. These services have a dedicated taskforce.
                        </p>
                    </div>
                </div>
            </article>
            <article class="episode">
                <div class="episode__number">07</div>
                <div class="episode__content">
                    <div class="title  py-4">Phones & Mobile</div>
                    <div class="story  py-4">
                        <p style="text-align: justify;">
                            The 21st Century has witnessed a surge in utilization of Mobile Technologies and Digital phones (VOIP Systems).



                            The infrastructure that supports quality and flawless service requires maintenance. The ICTC has qualified technocrats to service office phones, mobile phones and tablet PCs.
                        </p>
                    </div>
                </div>
            </article>
            <article class="episode">
                <div class="episode__number">08</div>
                <div class="episode__content">
                    <div class="title  py-4">Web Publishing & Hosting</div>
                    <div class="story  py-4">
                        <p>
                            ICTC hosts the CUT Website in a legacy environment for security. Services that are locally hosted include the following
                        </p>

                        <ol>
                            <li class="d-flex justify-content-between">
                                <span>
                              Main Website
                           </span> <a href="cut.ac.zw">cut.ac.zw</a>

                            </li>
                            <li class="d-flex justify-content-between">
                                <span>
                                    Virtual Learning Environment (Moodle based)

                                    
                             
                          </span><a href="https://elearning.cut.ac.zw/portal/index.php/portal/login">elearning.cut.ac.zw</a>


                            </li>
                            <li class="d-flex justify-content-between">
                                <span>
                              Library
                             
                          </span>  <a href="https://www.cut.ac.zw/cutlib/">library.cut.ac.zw</a>

                            </li>

                            <li class="d-flex justify-content-between">
                                <span>
                              Institutional Repository
                          </span><a href="https://ir.cut.ac.zw/xmlui//">ir.cut.ac.zw</a> 

                            </li>
                            <li class="d-flex justify-content-between">
                                <span>
                              Video Conferencing
                          </span>
                                <p class="text-right">
                                    <a href="https://bigbluebutton.cut.ac.zw/b/">   bigbluebutton.cut.ac.zw,</a>
                                 <br> conference.cut.ac.zw
                                </p>

                            </li>

                        </ol>
                        <p>

                            The infrastructure that supports quality and flawless service requires maintenance. The ICTC has qualified technocrats to service office phones, mobile phones and tablet PCs.
                        </p>
                    </div>
                </div>
            </article>
            <article class="episode">
                <div class="episode__number">09</div>
                <div class="episode__content">
                    <div class="title  py-4" fragment="info">Wired & Wireless Networks</div>
                    <div class="story  py-4">
                        <p>
                            The Fourth Industrial Revolution and 21st Century buzzword is “Internet”, CUT ICTC provisions both Wired and Wireless at the main and sub campuses.
                        </p>
                        <p>

                            Connection to the Internet is provisioned through the Authorized Access Policy and Bring Your Own Device (BOYD) Policy.
                        </p>
                    </div>
                </div>
            </article>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4 border-md-">
            <app-service-status>

            </app-service-status>
        </div>
    </div>
</section>
<!-- <div class="make my-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Lets build a <strong class="white_colo">future</strong> together</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                <div class="make_text">
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in
                        Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections
                        1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum,
                        "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                    </p>
                    <a routerLink="/staff">ICT Sections</a>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                <div class="make_img">
                    <figure><img src="assets/images/make_img.jpg"></figure>
                </div>
            </div>
        </div>
    </div>
</div> -->
