<div class="wrapp">
    <app-slider></app-slider>
<!-- our -->
<div id="important" class="important  pt-1">
    <div class="container py-4">
        <div class="row">
            <div class="col-sm-12">
                <div class="titlepage pb-3">
                    <h2 class="pb-0 mb-0" style=" text-shadow: 2px 4px 4px rgba(167, 175, 189, 0.6);font-size: 45px;">CUT ICT <strong class="yellow">WELCOME</strong></h2>
                </div>
                <p class="text-justify pb-3">
                    Welcome to Information and Communication Technology Department at Chinhoyi University of Technology (CUT ICT). CUT ICT makes available a wide array of technology resources to support innovative teaching, learning, research, community service and administration.
                    The Information and Communication Technology Department operates under the direction of the Executive ICT Director who reports directly to the Vice Chancellor and is a member of the Computer Society of Zimbabwe. The CUT ICT Department
                    strives to offer the best of 21st Century support in ubiquitous, integrated, and fully engaging digital learning experiences. We take an engaging, proactive and collaborative approach to deliver innovative, resilient, reliable, and
                    sustainable information and communication technologies that optimize user satisfaction and desired outcomes. We provide and will continue to provide sector leading cutting edge digital solutions and services for the benefit of the
                    entire university academic and administrative community in the following major functional areas: Academic Computing, Administrative Computing, End-User Training and Support, Communications and Networking, and Systems Administration
                    and Operation. We are a customer-centric, service oriented and responsive department that is highly regarded by faculty, students and staff in the University.

                </p>


            </div>
        </div>
    </div>
</div>




<div id="important" class="important bg-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="titlepage">
                    <h2 class="pb-0 mb-0"style=" text-shadow: 2px 4px 4px rgba(167, 175, 189, 0.6);font-size: 45px;">Get <strong class="yellow">Assistance</strong></h2>
                </div>
                <div class="box_bg_img">
                    <div class="row ">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 my-4">
                            <a href="http://cut.ac.zw/hostel/">
                                <div class="box_my">
                                    <figure><img src="assets/images/bed.jpg"></figure>
                                    <div class="overlay">
                                        <h3>Hostel Application</h3>
                                        <p>It is a long established fact that a reader will be distracted by the readable content o</p>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 my-4 ">

                                <a href="https://www.cut.ac.zw/portal/index.php/portal/login">
                                    <div class="box_my">
                                        <figure><img src="assets/images/portal.png"></figure>
                                        <div class="overlay">
                                            <h3>Students Portal</h3>
                                            <p>
                                                This portal enables students to access various services such as checking for results, financial status, registration status.
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 my-4 my-4">
                        <a  href="https://www.cut.ac.zw/ict/services"> 
                            <div class="box_my">
                                <figure><img src="assets/images/my1.jpg"></figure>
                                <div class="overlay">
                                    <h3>Help Desk</h3>
                                    <p>
                                        The Directorate provides both hardware and software services to all our clients E.g. computer re-imaging, printer installation and configuration, Software installation and configuration e.tc Our staff members are in charge of our computer laboratories
                                        ensure that all computers in the laboratories are functioning properly and are installed with genuine software to assist students to carry out their research.
                                    </p>
                                </div>
                            </div>
                            </a>
                        </div>
                     
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 my-4 ">
                            <a  href="https://www.cut.ac.zw/portal/index.php/portal/login">
                                <div class="box_my">
                                    <figure><img src="assets/images/my3.jpg"></figure>
                                    <div class="overlay">
                                        <h3>Staff Portal</h3>
                                        <p> This portal enables staff to access various online services and is a gateway to all elearning services</p>
                                    </div>
                                </div>
                            </a>
                           
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 my-4">
                            <a href="https://bigbluebutton.cut.ac.zw/">
                                <div class="box_my">
                                    <figure><img src="assets/images/my2.jpg"></figure>
                                    <div class="overlay">
                                        <h3>Video Conferencing</h3>
                                        <p>It is a long established fact that a reader will be distracted by the readable content o</p>
                                    </div>
                                </div>
                            </a>
                            
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 my-4">
                            <a href="https://elearning.cut.ac.zw/portal/index.php/cut_elearning/login">
                                <div class="box_my">
                                    <figure><img src="assets/images/learn.jpg"></figure>
                                    <div class="overlay">
                                        <h3>Elearning Services</h3>
                                        <p>Virtual Learning enables students to study and learn from anywhere ...</p>
                                    </div>
                                </div>
                            </a>
                            
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 my-4">
                            <a  href="https://www.cut.ac.zw/ict/services"> 
                                <div class="box_my">
                                <figure><img src="assets/images/wifi.jpg"></figure>
                                <div class="overlay">
                                    <h3>Student Wifi</h3>
                                    <p>
                                        Accessible from anywhere in campus is our strong, reliable and fast wifi signal to facilitate students learning and research ..
                                    </p>
                                </div>
                            </div>
                                </a>

                           
                        </div>
                       
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 my-4">
                            <a  href="https://www.cut.ac.zw/ict/services">
                                <div class="box_my">
                                    <figure><img src="assets/images/email.png"></figure>
                                    <div class="overlay">
                                        <h3>Email Services</h3>
                                        <p>It is a long established fact that a reader will be distracted by the readable content o</p>
                                    </div>
                                </div>
                            </a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>