<app-bread-crumb></app-bread-crumb>
<!-- director  -->
<div id="about" class="about bg-white">
    <div class="container py-3">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12">
                <div class="about-box">
                    <h2 class="mb-4">Software <strong class="yellow">Section</strong></h2>
                    <h3 class="mb-0">
                        Key Performance Area
                    </h3>
                    <ol class="kp mt-0 pt-0">
                        <li>
                            Meet Project Requirements Project requirements are meet through solid software specification and understanding of both functional and non functional requirements at each given stage.

                        </li>
                        <li>
                            Deliver in Time Time management is at the core of application development and is achieved through continuous program tracking using various tools such as team velocity charts.
                        </li>
                        <li>
                            Keep the Quality high Code reviews and continuous testing of application help in achieving Quality control of every development.
                        </li>
                        <li>
                            Security Secure coding is at the heart of modern application development in order to avoid application vulnerabilities introduced during development and deployment
                        </li>
                        <li>
                            Innovation Software Development is driven by the desire to eliminate long queues and manual process.

                        </li>
                        <li>

                            Application Design and Documentation The section is responsible for coming up with components, or systems that meet user requirements and documenting all changes effected.
                        </li>
                        <li>
                            Database Management Determining was requires to be stored and how it should be store, including creating relationship among the stored data.

                        </li>
                        <li>
                            Systems Integration Bring together components of different system to work as one.

                        </li>

                    </ol>

                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center align-items-center">
                <div class="about-box">
                    <figure><img src="assets/images/software/boss.jpeg" alt="#" /></figure>
                </div>
            </div>
        </div>

        <hr>
    </div>
</div>
<div class="about bg-white">

    <div class="container my-4">

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-10 col-sm-12 mb-4 pb-4s">
                <div class="about-box">
                    <h2>Section <strong class="yellow">Staff</strong></h2>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 mx-auto">

                <div class="our-team">

                    <div class="team-pic">
                        <img src="assets/images/software/l.png">
                    </div>

                    <div class="team-profile">

                        <h3 class="team-title">
                            <a href="#">L Simango</a>
                            <small>Software Engineer</small>
                        </h3>

                        <p class="description">....</p>

                        <ul class="team-social">

                            <li>
                                <a href="#" class="fa fa-facebook"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-twitter"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-google-plus"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-instagram"></a>
                            </li>
                        </ul>
                    </div>
                    <br>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6 mx-auto">

                <div class="our-team">

                    <div class="team-pic">
                        <img src="assets/images/software/dry.png">
                    </div>

                    <div class="team-profile">

                        <h3 class="team-title">
                            <a href="#">D Chivhanga</a>
                            <small>Software Developer</small>
                        </h3>

                        <p class="description">....</p>

                        <ul class="team-social">

                            <li>
                                <a href="#" class="fa fa-facebook"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-twitter"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-google-plus"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-instagram"></a>
                            </li>
                        </ul>
                    </div>
                    <br>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mx-auto">

                <div class="our-team">

                    <div class="team-pic">
                        <img src="assets/images/software/madam.png">
                    </div>

                    <div class="team-profile">

                        <h3 class="team-title">
                            <a href="#">A Chimbwa</a>
                            <small>Analyst Programmer</small>
                        </h3>

                        <p class="description">MSc in Big Data Analytics (Cut),BSc honours in Information Systems (MSU),Oracle Business Intelligence Enterprise Edition (OBIEE) 10g and 11g
                            Data Warehousing, Power BI, Contact Details (Email achimbwa@cut.ac.zw)</p>

                        <ul class="team-social">

                            <li>
                                <a href="#" class="fa fa-facebook"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-twitter"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-google-plus"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-instagram"></a>
                            </li>
                        </ul>
                    </div>
                    <br>
                </div>
            </div>
            
            
            
            <div class="col-md-4 col-sm-6 mx-auto">

                <div class="our-team">

                    <div class="team-pic">
                        <img src="assets/images/software/kule.png">
                    </div>

                    <div class="team-profile">

                        <h3 class="team-title">
                            <a href="#">WT. Denhere</a>
                            <small>Software Developer</small>
                        </h3>

                        <p class="description">Msc Big Data Analytics (CUT), BSc Information Technology (CUT), BSc Nursing Science (UZ)</p>

                        <ul class="team-social">

                            <li>
                                <a href="#" class="fa fa-facebook"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-twitter"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-google-plus"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-instagram"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
         
            <div class="col-md-4 col-sm-6 mt-4">

                <div class="our-team">

                    <div class="team-pic">
                        <img src="assets/images/software/tau.png">
                    </div>

                    <div class="team-profile">

                        <h3 class="team-title">
                            <a href="#">T Chiwawa</a>
                            <small>GT Software Developer</small>
                        </h3>

                        <p class="description">BTech Hons Information Security & Assurance(HIT),Oracle Certified Foundations Associate</p>
                        <ul class="team-social">

                            <li>
                                <a href="#" class="fa fa-facebook"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-twitter"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-google-plus"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-instagram"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6 mt-4">

                <div class="our-team">

                    <div class="team-pic">
                        <img src="assets/images/software/trevor.png">
                    </div>

                    <div class="team-profile">

                        <h3 class="team-title">
                            <a href="#">T Gandanhamo</a>
                            <small>GT Software Developer</small>
                        </h3>

                        <p class="description">Bsc Computer Science (UZ) | Huawei Datacom Certified | Network Administration</p>

                        <ul class="team-social">

                            <li>
                                <a href="#" class="fa fa-facebook"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-twitter"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-google-plus"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-instagram"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div></div>
            <div class="col-md-4 col-sm-6 mt-4">

                <div class="our-team">

                    <div class="team-pic">
                        <img src="assets/images/software/mike.png">
                    </div>

                    <div class="team-profile">

                        <h3 class="team-title">
                            <a href="#">M Mhizha</a>
                            <small>GT Software Developer</small>
                        </h3>

                        <p class="description">Bsc  Hons Information Technology (CUT)</p>

                        <ul class="team-social">

                            <li>
                                <a href="#" class="fa fa-facebook"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-twitter"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-google-plus"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-instagram"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mt-4">

                <div class="our-team">

                    <div class="team-pic">
                        <img src="assets/images/software/taku.png">
                    </div>

                    <div class="team-profile">

                        <h3 class="team-title">
                            <a href="#">T Kuipa</a>
                            <small>GT Software Developer</small>
                        </h3>

                        <p class="description">Bsc  Hons Information Technology (CUT)</p>

                        <ul class="team-social">

                            <li>
                                <a href="#" class="fa fa-facebook"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-twitter"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-google-plus"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-instagram"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mt-4">

                <div class="our-team">

                    <div class="team-pic">
                        <img src="assets/images/software/k.png">
                    </div>

                    <div class="team-profile">

                        <h3 class="team-title">
                            <a href="#">K Chitimbe</a>
                            <small>GT Software Developer</small>
                        </h3>

                        <p class="description">Bsc  Hons Information Technology (CUT)</p>

                        <ul class="team-social">

                            <li>
                                <a href="#" class="fa fa-facebook"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-twitter"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-google-plus"></a>
                            </li>

                            <li>
                                <a href="#" class="fa fa-instagram"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
