<app-bread-crumb></app-bread-crumb>
<!-- director  -->
<div id="about" class="about bg-white">
    <div class="container py-3">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12">
                <div class="about-box">
                    <h2 class="mb-4">Software <strong class="yellow">Section</strong></h2>
                    <h3 class="mb-0">
                        Key Performance Area
                    </h3>
                    <ol class="kp mt-0 pt-0">
                        <li>
                            Meet Project Requirements Project requirements are meet through solid software specification
                            and understanding of both functional and non functional requirements at each given stage.

                        </li>
                        <li>
                            Deliver in Time Time management is at the core of application development and is achieved
                            through continuous program tracking using various tools such as team velocity charts.
                        </li>
                        <li>
                            Keep the Quality high Code reviews and continuous testing of application help in achieving
                            Quality control of every development.
                        </li>
                        <li>
                            Security Secure coding is at the heart of modern application development in order to avoid
                            application vulnerabilities introduced during development and deployment
                        </li>
                        <li>
                            Innovation Software Development is driven by the desire to eliminate long queues and manual
                            process.

                        </li>
                        <li>

                            Application Design and Documentation The section is responsible for coming up with
                            components, or systems that meet user requirements and documenting all changes effected.
                        </li>
                        <li>
                            Database Management Determining was requires to be stored and how it should be store,
                            including creating relationship among the stored data.

                        </li>
                        <li>
                            Systems Integration Bring together components of different system to work as one.

                        </li>

                    </ol>

                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center align-items-center">
                <div class="about-box">
                    <figure><img src="assets/images/software/boss.jpeg" alt="#" /></figure>
                </div>
            </div>
        </div>

        <hr>
    </div>
</div>
<div class="about bg-white">

    <div class="container my-4">

        <div class="row">
            <section class="speakers-section-three">
                <div class="container">
                    <div class="sec-title text-center"><span class="title" style="font-size: 40px;font-weight: 600;">Section Staff </span>
                       
                    </div>
                    <div class="row"><!-- Speaker Block -->
                        <div class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="#"><img src="assets/images/software/lodza.png"
                                                alt=""></a></figure>
                                </div>
                                <div class="info-box">
                                    <h4 class="name"><a href="#">L.Simango</a></h4><span class="designation">Software
                                        Engineer</span>
                                </div>
                                <div class="social-box">
                                    <ul class="social-links social-icon-colored">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- Speaker Block -->

                        <div class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="#"><img src="assets/images/software/dry.png"
                                                alt=""></a></figure>
                                </div>
                                <div class="info-box">
                                    <h4 class="name"><a href="#">D.Chivhanga</a></h4><span class="designation">Software Developer
                                        </span>
                                </div>
                                <div class="social-box">
                                    <ul class="social-links social-icon-colored">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- Speaker Block -->
                        <div class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="#"><img src="assets/images/software/madam.png"
                                                alt=""></a></figure>
                                </div>
                                <div class="info-box">
                                    <h4 class="name"><a href="#">A.Chimbwa</a></h4><span class="designation">Software Developer
                                        </span>
                                </div>
                                <div class="social-box">
                                    <ul class="social-links social-icon-colored">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- Speaker Block -->
                        <div class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="#"><img src="assets/images/software/kule.png"
                                        alt=""></a></figure>
                                </div>
                                <div class="info-box">
                                    <h4 class="name"><a href="#">W.T Denhere</a></h4><span class="designation">Software Developer</span>
                                </div>
                                <div class="social-box">
                                    <ul class="social-links social-icon-colored">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- Speaker Block -->
                        <div class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="#"><img src="assets/images/software/tauu.png"
                                                alt=""></a></figure>
                                </div>
                                <div class="info-box">
                                    <h4 class="name"><a href="#">T.Chiwawa</a></h4><span class="designation"> GT Software Developer</span>
                                </div>
                                <div class="social-box">
                                    <ul class="social-links social-icon-colored">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- Speaker Block -->
                        <div class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="#"><img src="assets/images/software/trevor.png"
                                        alt=""></a></figure>
                                </div>
                                <div class="info-box">
                                    <h4 class="name"><a href="#">T.Gandanhamo</a></h4><span class="designation">GT Software Developer
                                        </span>
                                </div>
                                <div class="social-box">
                                    <ul class="social-links social-icon-colored">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- Speaker Block -->
                        <div class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="#"><img src="assets/images/software/mike.png"
                                                alt=""></a></figure>
                                </div>
                                <div class="info-box">
                                    <h4 class="name"><a href="#">M.Mhizha</a></h4><span class="designation">GT Software Developer</span>
                                </div>
                                <div class="social-box">
                                    <ul class="social-links social-icon-colored">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- Speaker Block -->
                        <div class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="#"><img src="assets/images/software/k.png"
                                                alt=""></a></figure>
                                </div>
                                <div class="info-box">
                                    <h4 class="name"><a href="#">K.Chitimbe</a></h4><span class="designation">GT Software Developer</span>
                                </div>
                                <div class="social-box">
                                    <ul class="social-links social-icon-colored">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- Speaker Block -->
                        <div class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="#"><img src="assets/images/software/taku.png"
                                                alt=""></a></figure>
                                </div>
                                <div class="info-box">
                                    <h4 class="name"><a href="#">T.Kuipa</a></h4><span class="designation">GT Software Developer</span>
                                </div>
                                <div class="social-box">
                                    <ul class="social-links social-icon-colored">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>