<app-bread-crumb>
</app-bread-crumb>

<div class="container bootstrap snippets bootdey">
    <div class="row my-4">
        <div class="col-12">
            <h2  style="color: #Caa555;"><strong>ICT  </strong> <strong class="yellow">DOWNLOADS</strong></h2>
        </div>
        <br>

        <div class=" col-lg-6 mx-auto ">
            <div class="main-box clearfix ">
                <div class="tabs-wrapper tabs-no-header ">
                    <div id="tab-products ">
                        <ul class="widget-products ">
                            <li>
                                <a target="_blank" href="assets/files/Signed 2nd draft ICt Policy.pdf">
                                    <span class="img ">
                                    <img class="img-thumbnail " src="assets/images/pdf.png" alt=" ">
                                  </span>
                                    <span class="product clearfix ">
                                        <span class="name ">
                                        ICT General User Policy
                                        </span>
                                    <!-- <span class="price ">
                                          <i class="fa fa-money "></i> $320,00
                                        </span>
                                    <span class="warranty ">
                                          <i class="fa fa-certificate "></i> Warranty: 2 years
                                        </span> -->
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="assets/files/CUT ICT  Procedure - Change management.docx">
                                    <span class="img ">
                                    <img class="img-thumbnail " src="assets/images/pdf.png" alt=" ">
                                  </span>
                                    <span class="product clearfix ">
                                        <span class="name ">
                                       Cut ICT Change Management
                                        </span>
                                    <!-- <span class="price ">
                                          <i class="fa fa-money "></i> $320,00
                                        </span>
                                    <span class="warranty ">
                                          <i class="fa fa-certificate "></i> Warranty: 2 years
                                        </span> -->
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.cut.ac.zw/portal/self/assets/files/student%20handbook.pdf">
                                    <span class="img ">
                                    <img class="img-thumbnail " src="assets/images/pdf.png" alt=" ">
                                  </span>
                                    <span class="product clearfix ">
                                        <span class="name ">
                                        Students Handbook
                                        </span>
                                    <!-- <span class="price ">
                                          <i class="fa fa-money "></i> $320,00
                                        </span>
                                    <span class="warranty ">
                                          <i class="fa fa-certificate "></i> Warranty: 2 years
                                        </span> -->
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.cut.ac.zw/portal/self/assets/files/CUT%20Student%20VLE%20User%20Manual.pdf">
                                    <span class="img ">
                                    <img class="img-thumbnail " src="assets/images/pdf.png" alt=" ">
                                  </span>
                                    <span class="product clearfix ">
                                        <span class="name ">
                                        Students VLE Manual
                                        </span>
                                    <!-- <span class="price ">
                                          <i class="fa fa-money "></i> $320,00
                                        </span>
                                    <span class="warranty ">
                                          <i class="fa fa-certificate "></i> Warranty: 2 years
                                        </span> -->
                                    </span>
                                </a>
                            </li>

                        </ul>

                    </div>

                </div>
            </div>
        </div>
        <div class=" col-lg-6 mx-auto ">
            <div class="main-box clearfix ">
                <div class="tabs-wrapper tabs-no-header ">

                    <div id="tab-products ">
                        <ul class="widget-products ">
                            <li>
                                <a target="_blank" href="https://www.cut.ac.zw/welcome/assets/files/quick_links/CUTServiceCharterFinal.pdf">
                                    <span class="img ">
                                    <img class="img-thumbnail " src="assets/images/pdf.png" alt=" ">
                                  </span>
                                    <span class="product clearfix ">
                                        <span class="name ">
                                        Clients Service Charter
                                        </span>
                                    <!-- <span class="price ">
                                          <i class="fa fa-money "></i> $320,00
                                        </span>
                                    <span class="warranty ">
                                          <i class="fa fa-certificate "></i> Warranty: 2 years
                                        </span> -->
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.cut.ac.zw/portal/staff/assets/files/CUT%20Lecturer%20VLE%20Manual.pdf">
                                    <span class="img ">
                                    <img class="img-thumbnail " src="assets/images/pdf.png" alt=" ">
                                  </span>
                                    <span class="product clearfix ">
                                        <span class="name ">
                                        Staff VLE Manual
                                        </span>
                                    <!-- <span class="price ">
                                          <i class="fa fa-money "></i> $320,00
                                        </span>
                                    <span class="warranty ">
                                          <i class="fa fa-certificate "></i> Warranty: 2 years
                                        </span> -->
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a target="_blank" href="https://www.cut.ac.zw/portal/staff/assets/files/SoftwareLinks.docx">
                                    <span class="img ">
                                    <img class="img-thumbnail " src="assets/images/pdf.png" alt=" ">
                                  </span>
                                    <span class="product clearfix ">
                                        <span class="name ">
                                        Teaching and Learning Downloadable softwares
                                        </span>
                                    <!-- <span class="price ">
                                          <i class="fa fa-money "></i> $320,00
                                        </span>
                                    <span class="warranty ">
                                          <i class="fa fa-certificate "></i> Warranty: 2 years
                                        </span> -->
                                    </span>
                                </a>
                            </li>



                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 bootstrap snippets bootdey">
  <div class="row my-4">
    <div class="col-12 text-center">
      <h2><strong></strong> <strong class="">DOWNLOADABLE SOFTWARES</strong></h2>
    </div>
    <br>

    <div class="container mt-3">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Software Purpose</th>
            <th>Commercial Software</th>
            <th>Alternative Open Source Software</th>
            <th>Download Links</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let software of softwareDetails">

            <td>{{ software.id }}</td>
            <td>{{ software.softwarePurpose }}</td>
            <td>{{ software.commercialSoftware }}</td>
            <td>{{ software.alternativeOpenSourceSoftware }}</td>
            <td>
              <a href="{{ software.downloadLink }}" target="_blank"><i style="color: #24b0ed;" class="fa-solid fa-download ml-5"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
